@import "maps", "mixin";

/* Variables */
$color-categorias:black;

/* Estilos generales */

*{
    margin: 0%;
    padding: 0%;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.image_container{
    text-align: center;
    background-color: #5f5f68;
}

.imagenes_titulo{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 1rem;
}

.logo{
    cursor: pointer;
    height: 100px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;    
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.nav_links{
        list-style: none;
}

.headertitulo{
    font-size: 24px;
    background-color: rgb(202, 16, 109);
    padding: 10px;
    text-align: center;
}

.titulos_categorias{
    background-color: rgb(226, 126, 196);
    font-size: 24px;
    text-align: center;
    color: $color-categorias;
}

.container_categorias{
    background-color: rgb(3,111, 252);
    list-style-type: none;
    text-align: center;
    text-decoration-color: #e8eef169;
}

.tradicionales_categorias{
    background-image:url('/img/palitoHelado.jpg');
    background-repeat: repeat;
    background-size: contain;
    height: 200px;
    color: white;
    font-size: 20px;
        text-shadow:
            0.07em 0 $color-categorias,
            0 0.07em $color-categorias,
            -0.07em 0 $color-categorias,
            0 -0.07em $color-categorias;
}

.grandesSabores_categorias{
    background-image: url('/img/1kgdehlado.jpg');
    @include categorias
}

.otros_categorias{
    background-image: url('/img/brownieHelado.jpg');
    @extend .tradicionales_categorias;
}

.tortasHeladas_categorias{
    background-image: url('/img/tortaOreo.jpg');
    background-repeat: repeat;
    background-size: contain;
    height: 200px;
    color: #f3f3f3d7;
    font-size: larger;
    font-size: 20px;
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 $color-categorias,
        0 0.07em $color-categorias,
        -0.07em 0 $color-categorias,
        0 -0.07em $color-categorias;
}

.elementos1_categorias{
    padding: 20px;
    margin: 20px;
}

.form_link{
    color: $color-categorias;
    font-weight: 400;
}

.form_link:hover{
    text-decoration: underline;
}

.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form_title{
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.form_paragraph{
    font-weight: 300;
}

.form_container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form_group{
    position: relative;
    --color: #706c6c;
}

.form_input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: 0.6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto' , sans-serif;
}

.form_label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.form_input:focus + .form_label,
.form_input:not(:placeholder-shown) + .form_label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}

.form_submit{
    background-color: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
}

.form_line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #3866f2;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form_input:focus + .form_line,
.form_input:not(:placeholder-shown) ~ .form_line {
    transform: scale(1);
}

.titulo_sucursales{
    color: #030303;
    background-color: rgb(23, 127, 196);
    text-align: center;
}

.sabores_clasicos{
    background: #71b9ec; 
}

.sabores_chocolates{
    background: brown;
}

.sabores_ddl{
    background-color: #e100ff54;
}

.sabores{
    padding: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    li{
        list-style-type: none;
        padding: 10px 0;
        font-size: 30px;
        h2{
            font-size: 70px;
            margin: 0 0 100px 0;
        }
    }
}

.mejoreshelados-container{
    background-color: #fdcae1;
    .promos-container{
        background-color: #fdcae1;
    }
}

.promos{ background-color: rgb(226, 126, 196); 
    font-size: 24px; 
    text-align: center;
    color: #000000;
}

.image-container{
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding: 30px 0;
}

.image-container > * {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #4b4b50;
    margin: auto;
    padding: 1rem;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    transition: height 2s;
    transition: height 2s, width 1s;
    transition: all 2s;
}

#footer-email:hover{
    height: 50px;
    width: 260px;
}

#footer-email::placerholder {
    color: #b1b1b1;
}

#footer-email-btm {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423D;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #337Af1;
    transition: all 0.4s ease-out;
}

@media (min-width:700px) {
    .container_index{
        display: grid;
        grid-template-columns: auto;
    }
    .image_container{
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .imagenes_titulo{
        padding: 2rem;
        max-width: 300px;
    }
    .container_footer{
        display: flex;
        flex-direction: row;    
        justify-content: center;   
        padding: 2rem;
    }
    .footer-email-form{
        padding: 2rem;
        color: #000000;
    }
    .form{
        background-color: #fff;
        width: 90%;
        max-width: 400px;
        padding: 4.5em 3em;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    }
    .form_title{
        font-size: 1.8rem;
    }
    .maps_sucursales{
        width: 70%;
        height: 500px;
        display: flex;
        flex-direction: auto;
        justify-content: center;
        padding: 2rem;
        background-color: #b1b1b1;
    }
    .footer{
        width: 100%;
        height: auto;
    }
    .form_title{
        font-size: 1.8rem;
    }
}